{% macro sketch(name, legend='', value='') -%}
<figure>
<div id={{name}} class="sketch"></div>
<figcaption>{{ legend }}</figcaption>
</figure>
<script>
{
let sketch = function(p) { {{ value }} }

var p5_instance = undefined;

setTimeout(function(){ p5_instance = new p5(sketch, {{name}} ); },800)

}
</script>
{%- endmacro %}

{% macro staticSketch(name, legend='', value='') -%}
<figure>
<div id={{name}} class="sketch"></div>
<figcaption>{{ legend }}</figcaption>
</figure>
<script>
{
let sketch = function(p) { 
p.setup = function() {
    {{ value }} }
};

var p5_instance = undefined;

setTimeout(function(){ p5_instance = new p5(sketch, {{name}} ); },800)


}
</script>
{%- endmacro %}